$primary: #2389ff;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  // https://webgradients.com/
  background-attachment: fixed;
  background-image: linear-gradient(120deg, #f43b47 0%, #453a94 100%);
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  text-align: center;

  .logo {
    max-height: 320px;
    max-width: 50%;
  }

  h4 {
    font-weight: 300;
  }

  code {
    background: rgba(0, 0, 0, 0.43);
    padding: 5px;
    border-radius: 4px;

    &.add-pkg {
      font-size: 1.5rem;
    }

    &.manager {
      font-size: 0.9rem;
    }
  }

  .animation {
    animation: animation 3s infinite;
  }

  .links {
    display: flex;
    justify-content: space-around;

    a {
      font-size: 1.2rem;
      padding: 15px 0;
      display: block;
      text-decoration: none;
      flex-basis: 50%;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: right;
  font-size: small;
}

@keyframes animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
